.App {
  text-align: center;
}

body {
  color:  #e6ffff;
  font: normal x-small verdana,arial,helvetica,sans-serif;
  background-color: black;
  min-height: 100%;
  border: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}
.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.image-container img {
  max-width: 50%;
}
